* {
  box-sizing: border-box;
}

/* color pallet: #55CAF4 cestial blue
                 #060809 dark grey
                 #FF000A red */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  background-color: #060809;
  color: white;
}

.border {
  border: 1px solid white;
}


header {
      width: 100%;
}

/* header {
  height: 520px;
  background-image: url(../img/portfolio-header-banner.jpg);
  background-repeat: no-repeat;
  background-size: 87%;
  background-position-x: -20px;
  padding-top: 40px;
  margin-bottom: 190px;
} */

#headerBackgroundImg {
  width: 85%;
}

.logo {
  position: absolute;
  width: 55px;
  top: 21px;
  left: 130px;
}

#profileImg {
  background-image: url(../img/profile-pic.jpg);
  background-size: cover;
  background-position: center;
  border: 1px solid #55CAF4;
  width: 290px;
  height: 370px;
  margin-left: 125px;
  position: absolute;
  left: -2px;
  top: 48px;
}

#name {
  position: absolute;
  top: 488px;
  left: 290px;
  font-weight: 500;
  font-style: italic;
}

#headerTxt {
  font-weight: 400;
  margin-left: 480px;
  margin-top: -256px;
}

#siteTitle {
  font-size: 3rem;
  position: relative;
  left: 40px;
  font-weight: 500;
  font-style: italic;
  display: inline;
}

#tagLine li {
  list-style: none;
  float: left;
  position: relative;
  margin-right: 13px;
  border-right: 1px solid white;
  padding-right: 16px;
  font-size: 2rem;
}

#socialLinks {
  float: right;
  list-style: none;
  font-size: 2.95rem;
  position: fixed;
  top: 112px;
  right: 60px;
}

.fa-brands {
  text-decoration: none;
  font-size: 2.6rem;
  margin-bottom: 15px;
  color: white;
}

/* This is for the menu option at the bottom of the page #menu

nav li {
  list-style: none;
  float: left;
}

This is for the menu option at the bottom of the page #menu {
  position: relative;
  top: 342px;
  left: 338px;
} */

.menu {
  font-size: 2rem;
  margin-right: 10px;
  margin-bottom: 14px;
}

.menu li {
  text-decoration: none;
}

li a:link {
  color: white;
  text-decoration: none;
}

.menu a:visited {
  color: white;
  text-decoration: none;
}  
.menu a:hover {
  color: white;
  text-decoration: none;
}
.menu a:active {
  color: white;
  text-decoration: none;
}

.menu button {
  margin-bottom: 8px;
}

#tagLine #lastTag {
  border: none; 
}

#connectBut {
  font-size: 2rem;
  margin-top: 14px;
  border: 1px solid white;
  background: none;
  color: white;
  padding: 5% 12% 5% 12%;
  position: relative;
  top: -3px;
}

.colorOverlay {
  background: #55CAF4;
  opacity: .3;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#aboutImg {
  border: 1px solid #55CAF4;
  width: 598px;
  height: 396px;
  margin-left: 46.5rem;
  margin-top: -54rem;
  background-image: url(../img/team.JPG);
  background-size: cover;
}

#aboutTxtBlock {
  width: 770px;
  padding: 0.1% 1% 0.1% 1%;
  z-index: 1;
  margin-left: -273px;
  margin-top: 149px;
}

#aboutTxtBlock p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-style: italic;
  letter-spacing: 0.1rem;
}

#quoteSec p {
  font-size: 4.5rem;
  font-weight: 400;
  font-style: italic;
  width: 49rem;
  line-height: 77px;
  z-index: 5;
  margin-left: 90px;
  margin-top: 90px;
}

#quoteOne {
  font-size: 12rem;
  font-style: italic;
  font-family: 'Spirax', cursive;
  float: left;
  margin-left: 31px;
  margin-top: -30px;
}

#quoteTwo {
  font-size: 12rem;
  position: relative;
  top: -14rem;
  left: 32rem;
  font-style: italic;
  font-family: 'Spirax', cursive;
}

#theArtwearGallery {
  width: 912px;
  margin-top: 3rem;
  margin-left: 21.7rem;
}

#theArtwearGallery p {
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-style: italic;
  letter-spacing: 0.1rem;
}

#theArtwearGalleryMainImg {
  background-image: url(../img/aw-bbc-1.png);
  height: 345px;
  width: 601px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 16px;
  left: 290px;
  border: 1px solid;
}

#titleOne {
  background-color: #55CAF4;
  position: relative;
  top: -45px;
  left: 500px;
  display: inline;
  font-size: 1.9rem;
  padding: 0.1%;
}

#shortDisOne {
  background-color: #55CAF4;
  position: relative;
  top: -81px;
  left: 438px;
  width: 212px;
  height: 80px;
  padding: 1%;
  z-index: 10;
}

#portfolio {
  padding-top: 4rem;
  text-align: center;
}

#portfolioTitle {
  color: #55CAF4;
  font-size: 2.8rem;
  margin-top: 180px;
  margin-left: 404.2px;
  font-weight: 300;
  display: inline;
}

#ruleOne {
  margin-left: 0rem;
  margin-top: -1.7rem;
  width: 59rem;
}

#featOneTxtBack {
  width: 374px;
  background-color: #55caf4ba;
  position: relative;
  top: 280px;
  left: 470px;
  padding: 0.1% 1% 0.1% 1%;
  border-radius: 2px;
}

#featTwoTxtBack {
  width: 374px;
  background-color: #55caf4ba;
  position: relative;
  top: 490px;
  left: 270px;
  padding: 0.1% 1% 0.1% 1%;
  border-radius: 2px;
}

.portfolioThumb {
  border: 1px solid white;
  width: 225px;
  height: 200px;
  float: left;
  margin-left: 60px;
}

#connectRule {
  margin-top: 1168px;
  border-bottom: solid white;
  position: relative;
  top: 78px;
  left: -100px;
  width: 410px;
}

#connect {
  position: relative;
  top: 93.2rem;
}

.connectSec {
  margin-top: 70px;
  margin-left: 32px;
  position: relative;
  left: 375px;
}

.rule {
  border-bottom: .25px solid white;

}

#connectTitle {
  color: #55CAF4;
  font-size: 2.8rem;
  position: relative;
  left: 404.2px;
  font-weight: 300;
  top: 29px;
}

#interestTitle {
  font-size: 2rem;
  margin-top: 10px;
}

input {
  padding: 1%;
  font-size: 1.5rem;
  background: #060809;
  border: 1px solid white;
  border-radius: 3px;
  color: white;
}

form {
  margin-bottom: 2px;
  color: white;
}

#firstNameInput {
  float: left;
  margin-right: 10px;
  width: 195px;
}

#lastNameInput {
  width: 195px;
}

.longInput {
  width: 400px;
}

.subjectInput {
  width: 300px;
}

.messageInput {
  width: 400px;
  height: 200px;
}

.connectSec input {
  margin-bottom: 10px;
}

footer {
  height: 200px;
}

h5 {
  position: relative;
  right: 316px;
  top: 22px;
  float: right;
  font-size: 1.2rem;
}

#footerLogo {
  width: 55px;
  width: 55px;
  position: relative;
  top: 70px;
  left: 130px;
}

footer ul {
  position: relative;
  right: 70px;
}

footer li {
  float: right;
  list-style: none;
  margin-right: 10px;
  border-right: 1px solid white;
  padding-right: 10px;
}

footer #lastTag {
  border: none;
}

.connectSec button {
  padding: 1% 2% 1% 2%;
  font-size: 2rem;
  color: white;
  background: #060809;
  border: 1px solid white;
  border-radius: 3px;
}

#portfolio span {
  font-size: 1rem;
  font-weight: 400;
  
}

#projectOneSec {
  position: relative;
}

.projectTitle {
  /* position: relative; */
  margin-left: 40.5rem;
  font-size: 3rem;
  font-weight: 400;
  color: white;
  /* display: inline; */
}

.projectDescription {
  width: 765px;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-style: italic;
  letter-spacing: 0.1rem;
  color: white;
  text-align: left;
}

#projectOneTitle {
  margin-top: 5rem;
}

#projectOneDescription {
  top: 51.3rem;
  margin-bottom: 10px;
  margin-left: 34.4rem;
}

#projectTwoTitle {
  top: 530px;
}

#projectTwoDescription {
  top: 92.1rem;
}

#projectThreeTitle {
  top: 92.5rem;
}

#projectThreeDescription {
  top: 131.2rem;
}

#projectFourTitle {
  top: 131.7rem;
}

#projectFourDescription {
  top: 170.4rem;
}

#projectFiveTitle {
  top: 170.5rem;
}

#projectFiveDescription {
  top: 212.8rem;
}

#featImgOne {
  top: 5.3rem;
  width: 90rem;
}

#featImgTwo {
  /* position: absolute; */
  top: 280rem;
  width: 90rem;
}

#featImgThree {
  /* position: absolute; */
  top: 340rem;
  width: 90rem;
}

#featImgFour {
  /* position: absolute; */
  top: 399.7rem;
  width: 90rem;
}

#featImgFive {
  /* position: absolute; */
  top: 464.9rem;
  width: 90rem;
}

.projectTxtBox {
  display: inline;
}

/* @media all and (min-width = ) */
