<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Henry Lee Studio</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <script src="https://kit.fontawesome.com/1589047438.js" crossorigin="anonymous"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spirax&display=swap');
  </style>

  <link rel="stylesheet" href="style.css">

  <link rel="shortcut icon" type="image/png" href="img/favicon/favicon-2.png" />
</head>

<body>

  <header>
    <div id="profileImg" alt="Porfile Image"></div>

    <!-- <h1 id="name">Henry Lee</h1> -->

    <!-- <img class="logo" src="img/entity-logo-gradiant-web.png" alt="Logo"> -->

    <img id="headerBackgroundImg" src="img/portfolio-header-banner-gradient.jpg" alt="Header background img">

    <section id="headerTxt">
      <h2 id="siteTitle">Henry Lee</h2>

      <ul id="tagLine" id="menu">
        <li>Creative Director</li>

        <li>Software Engineer</li>

        <li id="lastTag">Graphic Designer</li>
      </ul>

      <div id="aboutTxtBlock">
        <p>With an extensive background in visual arts, Henry Lee is a Creative Director and Software Engineer, with a Bachelors of Fine Arts in Graphic Design. 
          <br><br>
          10yrs+ of experience in web design, e-commerce, brand strategy, creative entrepreneurship and contemporary business systems.
      </div>
    </section>

    <section class="nav-header">
      <div class="nav-container">
        <div class="subcontainer"></div>
        <nav class="navbar">
          <a href="henrylee.studio" class="nav-branding">henrylee.studio</a>

          <!-- hamburger menu -->
          <ul class="nav-menu">

            <li class="nav-item"><a href="/">home</a></li>

            <!-- <li class="nav-item"><a href="#aboutImg">about</a></li> -->
            
            <li class="nav-item"><a href="#portfolioTitle">portfolio</a></li>

            <li class="nav-item"><a target="_blank" rel="noopener noreferrer"
                href="img/henry-lee-resume.pdf">resumé</a>
            </li> 

            <li class="nav-item"><a href="#connectTitle"><button id="connectBut">connect</button></a></li>

            <li class="nav-item"><a target="_blank" rel="noopener noreferrer"
                href="https://www.linkedin.com/in/henry-lee-studio"><i class="fa-brands fa-linkedin"></i></a></li>

            <li class="nav-item"><a target="_blank" rel="noopener noreferrer"
                href="https://github.com/henryleestudio"><i class="fa-brands fa-github-square"></i></a></li>

            <li class="nav-item"><a target="_blank" rel="noopener noreferrer"
                href="https://www.instagram.com/henrylee.studio/"><i class="fa-brands fa-instagram"></i></a></li>

            <li class="nav-item"><a target="_blank" rel="noopener noreferrer"
                href="https://twitter.com/henryleestudio"><i class="fa-brands fa-twitter"></i></a></li>
          </ul>
        </nav>
      </div>
    </section>

    <section>
      <ul id="socialLinks" id="menu">

        <li>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </li>

        <li class="menu"><a href="/">home</a></li>

        <!-- <li class="menu"><a href="#about">about</a></li> -->

        <li class="menu"><a href="#portfolioTitle">portfolio</a></li>

        <li class="menu"><a target="_blank" rel="noopener noreferrer"
            href="img/henry-lee-resume.pdf">resumé</a>
        </li>

        <li class="menu"><a href="#connectTitle"><button id="connectBut">connect</button></a></li>

        <li class="menu"><a target="_blank" rel="noopener noreferrer"
            href="https://www.linkedin.com/in/henry-lee-studio"><i class="fa-brands fa-linkedin"></i></a></li>

        <li class="menu"><a target="_blank" rel="noopener noreferrer" href="https://github.com/henryleestudio"><i
              class="fa-brands fa-github-square"></i></a></li>

        <li class="menu"><a target="_blank" rel="noopener noreferrer"
            href="https://www.instagram.com/henrylee.studio/"><i class="fa-brands fa-instagram"></i></a></li>

        <li class="menu"><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/henryleestudio"><i
              class="fa-brands fa-twitter"></i></a></li>
      </ul>
    </section>
  </header>

  <section class="about">
    <section id="quoteSec">
      <span id="quoteOne">“</span>
      <p>My purpose is to inspire creative solutions, & help empower people to realize the greatest version of who they
        are meant to be.</p>
      <span id="quoteTwo">”</span>
    </section>

    <div id="aboutImg" alt="About image">

    <div class="colorOverlay"></div>
    </div>
  </section>

  <Section id="theArtwearGallery">
    <p>In 2017 Henry Lee founded The Artwear Gallery, a sacred creative space for creatives of all kinds to collaborate,
      gain exposure, and earn an income. 
      <br><br>
      He led a team of 13+ creative professionals in efforts to build the brand,
      market the art & fashion products, and build out the e-commerce platform.</p>
  </Section>

  <!-- <section id="theArtwearGalleryMainImg" alt="The Artwear Gallery Page"></section> -->

  <!-- FEATURED PORTFOLIO SECTION -->

  <!-- Featured project 1 -->

  <section id="portfolio">

    <h3 class="title" class="secTitle" id="portfolioTitle">software engineering | graphic design</h3>

    <!-- rule -->
    <div id="portfolioRule" class="rule"></div>
    <section class="projectSecs" id="projectOneSec">

      <h4 class="projectTitle" id="projectOneTitle">The Artwear Catalog</h4>

      <!-- carousel beginning -->

      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">

          <div class="carousel-item featImg active bg">
            <img class="featImg bg-1" src="img/website-screenshots/the-artwear-catalog-website-1.png" />
          </div>

          <div class="carousel-item featImg bg">
            <img class="featImg bg-2" src="img/website-screenshots/the-artwear-catalog-website-2.png" />
          </div>

          <div class="carousel-item featImg bg">
            <img class="featImg bg-3" src="img/website-screenshots/the-artwear-catalog-website-3.png" />
          </div>

          <div class="carousel-item featImg bg">
            <img class="featImg bg-4" src="img/website-screenshots/the-artwear-catalog-website-4.png" />
          </div>

          <div class="carousel-item featImg bg">
            <img class="featImg bg-5" src="img/website-screenshots/the-artwear-catalog-website-5.png" />
          </div>

          <div class="carousel-item featImg bg">
            <img class="featImg bg-6" src="img/website-screenshots/the-artwear-catalog-website-6.png" />
          </div>

          <div class="carousel-item featImg bg">
            <img class="featImg bg-7" src="img/website-screenshots/the-artwear-catalog-website-7.png" />
          </div>

          <div class="carousel-item featImg bg">
            <img class="featImg bg-8" src="img/website-screenshots/the-artwear-catalog-website-8.png" />
          </div>

          <div class="carousel-item featImg bg">
            <img class="featImg bg-9" src="img/website-screenshots/the-artwear-catalog-website-9.png" />
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
          <img src="img/website-screenshots/the-artwear-catalog-website-1.png" alt="" class="d-block w-100 img-fluid"></button>
          
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2">
          <img src="img/website-screenshots/the-artwear-catalog-website-2.png" alt="" class="d-block w-100 img-fluid"></button>

          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3">
          <img src="img/website-screenshots/the-artwear-catalog-website-3.png" alt="" class="d-block w-100 img-fluid">
          </button>

          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4">
          <img src="img/website-screenshots/the-artwear-catalog-website-4.png" alt="" class="d-block w-100 img-fluid">
          </button>

          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5">
          <img src="img/website-screenshots/the-artwear-catalog-website-5.png" alt="" class="d-block w-100 img-fluid">
          </button>

          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6">
          <img src="img/website-screenshots/the-artwear-catalog-website-6.png" alt="" class="d-block w-100 img-fluid">
          </button>

          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7">
          <img src="img/website-screenshots/the-artwear-catalog-website-7.png" alt="" class="d-block w-100 img-fluid">
          </button>

          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8">
          <img src="img/website-screenshots/the-artwear-catalog-website-8.png" alt="" class="d-block w-100 img-fluid">
          </button>

          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9">
          <img src="img/website-screenshots/the-artwear-catalog-website-9.png" alt="" class="d-block w-100 img-fluid">
          </button>
        </div>
      </div>

      <p class="projectDescription" id="projectTwoDescription">The Artwear Catalog is an art / fashion exhibition for one of a kind, hand painted, art to wear pieces. It showcases the co-creative talents of models, photographers, designers, and artists in the creative-professional community in Philadelphia, and has a custom art to wear interface that enables the user to create their own art to wear.
      <br><br>  
      This design concept is inspired by the high fashion catalog aesthetic, so I decided to design a clean and spacious style layout with dynamic typographic, in relation to the catalog style photography to embody a modern art gallery look and feel. All art pieces are made by yours truly or in collaboration with another artist. I was intentional about not using a template for this project. Graphic design work is done by scratch.
      <br><br>  
      <p class="tech">JavaScript | Node.js | Express | Mongodb | Bootstrap | Graphic Design | Graphic Art | painting | Photoshop CC | Illustrator CC | Indesign CC</p>
      </p>
    </section>

    <!-- Featured project 2 -->

    <section class="projectSecs" id="projectTwoSec">
      <h4 class="projectTitle" id="projectTwoTitle">The Artwear Venture</h4>

      <div id="carousel-2" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">

          <div class="carousel-item featImg active bg">
            <img class="featImg bg-1" src="img/venture-mockups-1.png" />
          </div>

          <div class="carousel-item featImg bg">
            <img class="featImg bg-2" src="img/venture-mockups-2.png" />
          </div>

          <div class="carousel-item featImg bg">
            <img class="featImg bg-3" src="img/venture-mockups-3.png" />
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carousel-2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
          <img src="img/venture-mockups-1.png" alt="" class="d-block w-100 img-fluid"></button>
          
          <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="1" aria-label="Slide 2">
          <img src="img/venture-mockups-2.png" alt="" class="d-block w-100 img-fluid"></button>

          <button type="button" data-bs-target="#carousel-2" data-bs-slide-to="2" aria-label="Slide 3">
          <img src="img/venture-mockups-3.png" alt="" class="d-block w-100 img-fluid">
          </button>
        </div>
      </div>

      <div class="projectTxtBox">
        <p class="projectDescription" id="projectOneDescription">
          A remix recreation of an existing modern website's layout. "The Artwear Venture," uses that layout as a
          template to showcase some of the creative professionals, art to wear products, and the culture of The Artwear
          Gallery's brand.
          <br><br>
          <p class="tech">HTML | CSS | Media Queries | Graphic Design | Creative Direction | Branding | Project Management</p>
        </p>
      </div>
    </section>

    <!-- Featured project 3 -->

    <section class="featuredSecs" id="projectThreeSec">
      <h4 class="projectTitle" id="projectThreeTitle">Dream logger</h4>

      <div id="carousel-3" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">

          <div class="carousel-item featImg active bg">
            <img class="featImg bg-1" src="img/website-screenshots/dream-logger-1.png" />
          </div>

          <div class="carousel-item featImg bg">
            <img class="featImg bg-2" src="img/website-screenshots/dream-logger-2.png" />
          </div>

          <div class="carousel-item featImg bg">
            <img class="featImg bg-3" src="img/website-screenshots/dream-logger-3.png" />
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-3" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carousel-3" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel-3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
          <img src="img/website-screenshots/dream-logger-1.png" alt="" class="d-block w-100 img-fluid"></button>
          
          <button type="button" data-bs-target="#carousel-3" data-bs-slide-to="1" aria-label="Slide 2">
          <img src="img/website-screenshots/dream-logger-2.png" alt="" class="d-block w-100 img-fluid"></button>

          <button type="button" data-bs-target="#carousel-3" data-bs-slide-to="2" aria-label="Slide 3">
          <img src="img/website-screenshots/dream-logger-3.png" alt="" class="d-block w-100 img-fluid">
          </button>
        </div>
      </div>

      <div class="projectTxtBox">
        <p class="projectDescription" id="projectOneDescription">
          I've had vivid and prosthetic dreams for as long as I can remember. Some taught me profound life lessons, and some showed me the matters of my heart. My dreams have taken me on journeys of ancestry, and spirituality. The more we track our dreams, the more we are able to become conscious and create within them.
          <br><br>
          A gamey / technological aesthetic merged with a deep and dreamy spacious feel. My intention were to resonate with the moment a person realizes their awake state, when the dream is fresh and easy to remember. I chose a color scheme and imagery that's easy on the eyes, and could match the energy of the mindset.
          <br><br>
          <p class="tech">JavaScript | Node.js | Express | Mongodb | Bootstrap | Graphic Design | Graphic Art | Photoshop CC</p>
        </p>
      </div>

    <!-- Featured project 4 -->

    <section class="featuredSecFour">
      <h4 class="projectTitle" id="projectFourTitle">Franny Lous Porch</h4>

      <div id="carousel-4" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">
  
          <div class="carousel-item featImg active bg">
            <img class="featImg bg-1" src="img/website-screenshots/frannys-1.png" />
          </div>
  
          <div class="carousel-item featImg bg">
            <img class="featImg bg-2" src="img/website-screenshots/frannys-2.png" />
          </div>
  
          <div class="carousel-item featImg bg">
            <img class="featImg bg-3" src="img/website-screenshots/frannys-3.png" />
          </div>
  
          <div class="carousel-item featImg bg">
            <img class="featImg bg-4" src="img/website-screenshots/frannys-4.png" />
          </div>
  
          <div class="carousel-item featImg bg">
            <img class="featImg bg-5" src="img/website-screenshots/frannys-5.png" />
          </div>
  
          <div class="carousel-item featImg bg">
            <img class="featImg bg-6" src="img/website-screenshots/frannys-6.png" />
          </div>
  
          <div class="carousel-item featImg bg">
            <img class="featImg bg-7" src="img/website-screenshots/frannys-8.png" />
          </div>
        </div>
  
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-4" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
  
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-4" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
  
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel-4" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
          <img src="img/website-screenshots/frannys-1.png" alt="" class="d-block w-100 img-fluid"></button>
          
          <button type="button" data-bs-target="#carousel-4" data-bs-slide-to="1" aria-label="Slide 2">
          <img src="img/website-screenshots/frannys-2.png" alt="" class="d-block w-100 img-fluid"></button>
  
          <button type="button" data-bs-target="#carousel-4" data-bs-slide-to="2" aria-label="Slide 3">
          <img src="img/website-screenshots/frannys-3.png" alt="" class="d-block w-100 img-fluid">
          </button>
  
          <button type="button" data-bs-target="#carousel-4" data-bs-slide-to="3" aria-label="Slide 4">
          <img src="img/website-screenshots/frannys-4.png" alt="" class="d-block w-100 img-fluid">
          </button>
  
          <button type="button" data-bs-target="#carousel-4" data-bs-slide-to="4" aria-label="Slide 5">
          <img src="img/website-screenshots/frannys-5.png" alt="" class="d-block w-100 img-fluid">
          </button>
  
          <button type="button" data-bs-target="#carousel-4" data-bs-slide-to="5" aria-label="Slide 6">
          <img src="img/website-screenshots/frannys-6.png" alt="" class="d-block w-100 img-fluid">
          </button>
  
          <button type="button" data-bs-target="#carousel-4" data-bs-slide-to="6" aria-label="Slide 7">
          <img src="img/website-screenshots/frannys-8.png" alt="" class="d-block w-100 img-fluid">
          </button>
        </div>
      </div>
  
      <div class="projectTxtBox">
        <p class="projectDescription" id="projectOneDescription">
          Web develment project and branding / design commission for Franny Lou’s Porch. A café that offers food and beverages amongst other services like catering, wholesale, artist retail, and venue rentals. their mission is to provide a warm space to engage in community activism, cultural awareness, relational business practices, be a vehicle for advocacy, and most importantly, to be a place of rest.
          <br><br>
          <p class="tech">PHP | Photoshop CC | Graphic Design | Graphic Art</p>
        </p>
      </div>
    </section>
      
    </section>

    <!-- Featured project 5 -->

    <section class="featuredSecFive">

      <h4 class="projectTitle" id="projectFiveTitle">lil black book</h4>

      <div id="carousel-5" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">
  
          <div class="carousel-item featImg active bg">
            <img class="featImg bg-1" src="img/website-screenshots/lil-black-book-1.png" />
          </div>
  
          <div class="carousel-item featImg bg">
            <img class="featImg bg-2" src="img/website-screenshots/lil-black-book-2.png" />
          </div>
  
          <div class="carousel-item featImg bg">
            <img class="featImg bg-3" src="img/website-screenshots/lil-black-book-3.png" />
          </div>
        </div>
  
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-5" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
  
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-5" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
  
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel-5" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
          <img src="img/website-screenshots/lil-black-book-1.png" alt="" class="d-block w-100 img-fluid"></button>
          
          <button type="button" data-bs-target="#carousel-5" data-bs-slide-to="1" aria-label="Slide 2">
          <img src="img/website-screenshots/lil-black-book-2.png" alt="" class="d-block w-100 img-fluid"></button>
  
          <button type="button" data-bs-target="#carousel-5" data-bs-slide-to="2" aria-label="Slide 3">
          <img src="img/website-screenshots/lil-black-book-3.png" alt="" class="d-block w-100 img-fluid">
          </button>
        </div>
      </div>
  
      <div class="projectTxtBox">
        <p class="projectDescription" id="projectOneDescription">
          I love a good, fresh, elegant, and stylishly fashionable design. A simple, chic, mysterious, allure represented by an off-black and cream design color combination. I chose the illustrative “rumble brave” typeface juxtaposed with the modern fresh feel of “helvetica” light.
          <br><br>
          <p class="tech">JavaScript | Node.js | Express | Mongodb | Bootstrap | Graphic Design | Graphic Art | Photoshop CC</p>
        </p>
      </div>
    </section>

    <!-- Featured project 6 -->

    <section class="featuredSecSix">
      <h4 class="projectTitle" id="projectSixTitle">Starship API</h4>

      <div id="carousel-6" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">
  
          <div class="carousel-item featImg active bg">
            <img class="featImg bg-1" src="img/website-screenshots/star-wars-2.png" />
          </div>
  
          <div class="carousel-item featImg bg">
            <img class="featImg bg-2" src="img/website-screenshots/star-wars-1.png" />
          </div>
  
          <div class="carousel-item featImg bg">
            <img class="featImg bg-3" src="img/website-screenshots/star-wars-3.png" />
          </div>
        </div>
  
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-6" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
  
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-6" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
  
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel-6" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
          <img src="img/website-screenshots/star-wars-2.png" class="d-block w-100 img-fluid"></button>
          
          <button type="button" data-bs-target="#carousel-6" data-bs-slide-to="1" aria-label="Slide 2">
          <img src="img/website-screenshots/star-wars-1.png" class="d-block w-100 img-fluid"></button>
  
          <button type="button" data-bs-target="#carousel-6" data-bs-slide-to="2" aria-label="Slide 3">
          <img src="img/website-screenshots/star-wars-3.png" class="d-block w-100 img-fluid">
          </button>
        </div>
      </div>
  
      <div class="projectTxtBox">
        <p class="projectDescription" id="projectOneDescription">
          A starship enthusiast project, showcasing various space ships from the Star Wars series. I secretly can't wait to own my own spaceship.
          <br><br>
          <p class="tech">JavaScript | HTML | CSS | API | Photoshop CC</p>
        </p>
      </div>
    </section>

    <!-- Featured project 7 -->

    <section class="featuredSecSeven">

      <h4 class="projectTitle" id="projectSixTitle">Game of Thrones API</h4>

      <div id="carousel-7" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner">
  
          <div class="carousel-item featImg active bg">
            <img class="featImg bg-1" src="img/website-screenshots/got-1.png" />
          </div>
  
          <div class="carousel-item featImg bg">
            <img class="featImg bg-2" src="img/website-screenshots/got-2.png" />
          </div>
  
          <div class="carousel-item featImg bg">
            <img class="featImg bg-3" src="img/website-screenshots/got-3.png" />
          </div>
        </div>
  
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-7" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
  
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-7" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
  
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel-7" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
          <img src="img/website-screenshots/got-1.png" class="d-block w-100 img-fluid"></button>
          
          <button type="button" data-bs-target="#carousel-7" data-bs-slide-to="1" aria-label="Slide 2">
          <img src="img/website-screenshots/got-2.png" class="d-block w-100 img-fluid"></button>
  
          <button type="button" data-bs-target="#carousel-7" data-bs-slide-to="2" aria-label="Slide 3">
          <img src="img/website-screenshots/got-3.png" class="d-block w-100 img-fluid">
          </button>
        </div>
      </div>
  
      <div class="projectTxtBox">
        <p class="projectDescription" id="projectOneDescription">
          Combined a few Game Of Thrones APIs as an exercise.
          <br><br>
          <p class="tech">JavaScript | HTML | CSS | API | Photoshop CC</p>
        </p>
      </div>
    </section>

        


  <!-- project template -->

  <!-- <section class="projectSecs" id="projectTwoSec">
    <h4 class="projectTitle" id="projectTwoTitle">The Artwear Venture</h4>

    <div id="carousel-CHANGE" class="carousel slide" data-bs-ride="false">
      <div class="carousel-inner">

        <div class="carousel-item featImg active bg">
          <img class="featImg bg-1" src="img/..." />
        </div>

        <div class="carousel-item featImg bg">
          <img class="featImg bg-2" src="img/..." />
        </div>

        <div class="carousel-item featImg bg">
          <img class="featImg bg-3" src="img/..." />
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carousel-CHANGE" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carousel-CHANGE" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel-CHANGE" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
        <img src="img/..." alt="" class="d-block w-100 img-fluid"></button>
        
        <button type="button" data-bs-target="#carousel-CHANGE" data-bs-slide-to="1" aria-label="Slide 2">
        <img src="img/..." alt="" class="d-block w-100 img-fluid"></button>

        <button type="button" data-bs-target="#carousel-CHANGE" data-bs-slide-to="2" aria-label="Slide 3">
        <img src="img/..." alt="" class="d-block w-100 img-fluid">
        </button>
      </div>
    </div>

    <div class="projectTxtBox">
      <p class="projectDescription" id="projectOneDescription">
        PROJECT DESCRIPTION
        <br><br>
        <p class="tech">TECH</p>
      </p>
    </div>
  </section> -->



  
    <!-- <section class="featuredSecs" id="projectThreeSec">

      <h4 class="projectTitle" id="projectThreeTitle">Zodiac Simulator</h4>

      <a target="_blank" rel="noopener noreferrer" href="https://henryleestudio.github.io/zodiac/"><img class="featImg"
          id="featImgThree" src="img/cropped-zodiac-simulator.png" alt="Featured profolio image three"></a>

      <p class="projectDescription" id="projectThreeDescription">A layout recreation with added media query dynamics.
        The objective is to be able to seamlessly display content well on any device or screen size. I created the
        dragon graphics and added the dragon spice for the character.
        <br><br>
        HTML | CSS | Media Queries | Graphic Design | Graphic Art | Photoshop CC
      </p>

    </section> -->

  <!-- CONNECT SECTION -->

  <section id="connect">
    <h3 class="title" class="secTitle" id="connectTitle">lets connect</h3>

    <div id='connectRule' class="rule"></div>

    <section class="connectSec">

      <form action="https://formsubmit.co/henryleestudio@gmail.com" method="POST">
        <select class="input" name="interest" placeholder="interested in">
          <option value="Software Engineer">Inquring about: Hiring a Software Engineer?</option>
          <option value="Creative Diretion">Booking a Creative Direction session</option>
          <option value="Creative Diretion">Other</option>
        </select>
        
        <input class="input" name="name" type="text" placeholder="name" reqiured>
  
        <input class="input" name="company" type="text" placeholder="company">

        <input class="input" name="email" type="text" placeholder="email" reqiured>

        <input class="input" class="subjectInput" type="text" placeholder="subject">

        <textarea class="input" class="messageInput" placeholder="message" name="message" cols="30"
          rows="10" reqiured></textarea>

        <button class="submitBut" type="submit" name="submit" value="submit">Send</button>

        <input type="hidden" name="_captcha" value="false">

        <input type="hidden" name="_next" value="https://henrylee.studio/">
      </form>
    </section>

  <footer>
    <!-- <p align="center">
      <a href="https://henrylee.studio/" target="_blank">
        <img src="https://user-images.githubusercontent.com/101936420/172000054-7df36c23-7223-488f-8ecd-9f6bb4a79ff4.png" width="10%"/>
      </a>
    &nbsp
      <a href="https://www.linkedin.com/in/henry-lee-studio/" target="_blank">
        <img src="https://user-images.githubusercontent.com/101936420/172000064-68bffe39-7735-44bf-8b9e-5228913c5eed.png" width="10%"/>
      </a>
    &nbsp
      <a href="https://twitter.com/henryleestudio" target="_blank">
        <img src="https://user-images.githubusercontent.com/101936420/172000066-76823694-4946-4c18-9b6c-866c9428a49c.png" width="10%"/>
      </a>
    &nbsp
      <a href="https://angel.co/u/henry-lee-studio" target="_blank">
          <img src="https://user-images.githubusercontent.com/101936420/172000074-c75d3108-337c-4756-8a45-f05912613242.png" width="10%"/>
      </a>
    &nbsp
      <a href="https://docs.google.com/document/d/11bE3jL_fGmSpUj5IAVL7uvYC7NxaE7yJhx3ftZXw0As/edit" target="_blank">
          <img src="https://user-images.githubusercontent.com/101936420/172000081-20e4d8e7-7785-4e19-94a9-4be5cf40506c.png" width="10%"/>
      </a>
      </p> -->

    <p class="copyRight">Copyright &copy; 2022, Henry Lee Studio</p>

    <!-- <img id="footerLogo" src="img/entity-logo-gradiant-web.png" alt="logo"> -->

    <!-- <h5>website is currently under construction</h5> -->

    <!-- <ul>
    <li id="lastTag">Software Engineer</li>

    <li>Graphic Designer</li>

    <li>Creative Director</li>
  </ul> -->

    <!-- <ul>
    <li>linkedin</li>
    
    <li>GitHub</li>
    
    <li>instagram</li>

    <li>twitter</li>
  </ul> -->
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <script src="main.js"></script>
</body>

</html>